body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
}
.container {
    width: 95%;
    margin: 0 auto;
}
label {
    display:block;
    margin-bottom:10px;
    font-weight: bold;
}
input {
    padding:10px;
    width: 100%;
    margin-bottom: 1em;
}
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button1 {
    background-color: #4CAF50;
    color: white;
    border: solid #4CAF50;
} 
.button1:hover {
    background-color: white; 
    color: black; 
} 
.header {
    padding: 15px;
  }  
.box {
    width: 30%;
    float: left;
    padding: 15px;

} 
.status {
    width: 90%;
    float: left;
    padding: 15px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
  }
  table#t01 {
      width :100%;
  }
  table#t01 tr:nth-child(even) {
      background-color: rgb(189, 183, 183);
  }
  table#t01 tr:nth-child(odd) {
     background-color:#fff;
  }
  table#t01 th {
      background-color: #3e5ea3;
      color: white;
  }
#result {
    padding:1em;
    background-color:#fff;
    margin: 1em 0;
}
